<p>
  Ruby is a dynamic, open source programming language with a focus on simplicity
  and productivity. It has an elegant syntax that is natural to read and easy to
  write.
</p>

<p>
  Ruby on Rails is an open source web application framework for the Ruby
  programming language. It is intended to be used with an Agile development
  methodology.
  It is intended to emphasize Convention over Configuration (CoC),
  and the rapid development principle of Don't Repeat Yourself (DRY).
</p>

<p>
  We have a ruby/rails developer named Pedro Fernandes in our team.
  He graduated in Computer Science Engineering at Porto University.
  Later took his major in Network Communications, again at Porto University.
  He also has a special interest in network security and linux systems. Aswell as
  bioinformatics and cloud computing.
</p>

